body {
  text-align: center;
  color: rgb(9, 9, 9);
  font-size: 12px;
  margin: 0%;
  padding: 0%;
}
#container {
  width: 50%;
  height: 150%;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.prueba {
  padding-bottom: 10px;
}
.pruebaboton {
  color: white;
  font-size: 1.7em;
  text-align: center;
  justify-items: center;
  background-color: rgb(72, 216, 248);
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 29px;
}
.footer {
	background: rgb(112, 214, 255);
	font-size: 2em;
	color: white;
	height:20px;

}
