body {
  text-align: center;
  color: rgb(9, 9, 9);
  margin: 0;
  padding: 0;
}
#container {
  width: 45%;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1%;
}
.cabecera {
  background-color: brown;
  color: white;
  font-size:1.7em;
  padding: 0.35em;
  text-align: center;
  justify-content: center;
}
.madkat {
  vertical-align: middle;
  width: 2.0em;
  margin: 0;
  padding: 0;
}
.prueba {
  padding-bottom: 10px;
}
p {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: lighter;
}
.pruebaboton {
  color: white;
  font-size: 1.7em;
  text-align: center;
  justify-items: center;
  background-color: rgb(179, 0, 255);
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 35px;
}
.footer {
	background: rgb(112, 214, 255);
	font-size: 1em;
	color: black;
	height:30px;
}
